:root {
  --night-blue: #023047;
  --yellow: #FFB703;
  --accent-color-blue: #8ECAE6;
  --white: #FFFFFF;

  --sans: system-ui, 'Inter', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  --whitespace: 10px;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--yellow);
  color: var(--night-blue)
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: inherit;
  line-height: 50px;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
